/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom structure */
*{
  box-sizing:border-box;
}
body{
  background-color: #FFF;
  color: #000;
  font: normal 100% Cambria, Georgia, serif;
}

nav{
  height:50px;
  width:100%;
  background-color:#000;
  color: #FFF;
}

nav ul{
  padding: 0;
  margin: 0 auto;
  width:60%;
  height:50px;
}

nav li.nav-item{
  display: inline;
  float: left;
  width:33.33%;
}

nav li.nav-item a{
  color: #fff;
  display: inline-block;
  width:100%;
  margin:0.8em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.5em;
}

nav li.nav-item a:hover, nav a:active{
  color: rgb(215,192,100);
  border-bottom:0;
}

nav a#pull{
  display:none;
}

.container{
  width:80%;
  margin:2em auto;
}
.left-menu{
  width:25%;
  float:left;
}
.main-container{
  width:75%;
  float:right;
}
.main-col{
  width:100%;
  float:left;
  margin-left: 5%;
}
.middle-col{
  width:50%;
  float:left;
}
.right-col{
  width:45%;
  float:right;
  padding-left:5%;
}

.mobile-select{
  display:none;
}

label{
  display:block;
  margin-top: 1.5em;
}

aside p:first-child{
  margin:1em auto;
}

input, textarea{
  display:block;
  width:100%;
  height:2em;
  padding:0.2em;
  font-size:1em;
  font-weight: 500;
}

input, textarea, input[type=text], textarea[type=text]{
  font-family: 'Open Sans Condensed', sans-serif;  
}

textarea{
  height:150px;
}

/* text styling */
h1, h2, h3, button, .button, label, select{
  font-family: 'Open Sans Condensed', sans-serif;  
  font-weight: 700;
}

h1{
  font-size:3em;
  text-align: center;
}

h1 a{ 
  text-decoration: none;
  color:#000;
}

h2{
  font-size: 2em;
  text-transform: uppercase;
  line-height: 2.2em;
  letter-spacing: -0.02em;
}

h3{
  font-size:1.5em;
}

strong {
  font-weight: bold;
}

p, li{
  line-height: 1.48em;
}
p + p{
  margin-top:1.25em;
}

p a, li a, #pull{
  text-decoration: none;
}

p a, li a, #pull{
  color:#c08f4c;
}

p a:hover, .left-menu-item a:hover, li a:hover{
  color: rgb(215,192,100);
  border-bottom: 1px solid rgb(215, 192, 100);
  padding-bottom:0.1em;
}

img{
  width:100%;
}

.left-list-items{
  margin-top: 1em;
}

.left-menu-item:first-child{
  border-top: 1px solid #d4d4d4;
}

.left-menu-item{
  height:2em;
  padding-top:0.3em;
  max-width:175px;
  border-bottom: 1px solid #d4d4d4;
}

.left-menu-item a:hover{
  text-decoration: none;
  border-bottom: 1px;
  padding-bottom: 0;
}

.form{
  width:100%;
}

select{
  width:100%;
  background: #FFF;
  padding:0.8em;
  font-size: 1em;
  margin-bottom: 0.3em;
  font-weight: 500;
}

.modal{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: rgba(0,0,0,0.8);
  z-index:99999;
  opacity:1;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.confirm-box{
  width:400px;
  position:relative;
  margin:10% auto;
  padding: 5px 20px 13px 20px;
  background:#FFF;
}

.quote-container{
  display:flex;
  flex-flow: row wrap;
  justify-content:space-around;
  align-items:center;
  align-content:center;
}
.tile{
  flex: 0 1 33.33%;
  margin: auto;
  padding:2%;
}
.crop-height{
  max-height:200px;
  overflow:hidden;
}

.clearfix:before, .clearfix:after{
  content: " ";
  display: table;
}

.clearfix:after{
  clear:both;
}

.clearfix{
  *zoom:1;
}

/*alignmnent*/
.right{
  display:block;
  float:right;
  text-align: right;
}

/* element styles */
button, .button{
  background:#000;
  color:#FFF;
  font-size:1em;
  border: 0px;
  text-decoration: none;
  padding:0.3em 0.5em;
  margin-top: 0.5em;
}

button:hover, .button:hover{
  color: rgb(215,192,100);
}

#search{
  max-width:175px;
}

/*media queries */

@media screen and (max-width:600px){
  nav{
    height: auto;
  }

  nav ul{
    width:100%;
    display: block;
    height: auto;
  }

  nav li{
    width:100%;
  }

  nav a{
    text-align: left;
    width:100%;
    text-indent: 20px;
  }

  h1{
    font-size: 2em;
  }

}

@media only screen and (max-width:480px){
  nav ul{
    display: none;
    height: auto;
  }
  nav li.nav-item{
    display: block;
    float:none;
    width:100%;
    padding:0;
    margin:0 0 0 -2.5%;
    height:auto;
  }

  nav li.nav-item a:hover{
    border:0;
    padding:0;
  }
  
  nav a#pull{
    display:block;
    background-color: #000;
    width:100%;
    position:relative;
    text-align: center;
    padding:0.5em 0;
    text-transform: uppercase;
  }

  nav a#pull:after{
    content:" ";
    width:30px;
    height:30px;
    display: inline-block;
    position: absolute;
    right:15px;
    top:10px;
  }
  .left-menu{
    display:none;
    float:none;
  }
  .main-container{
    display:block;
    position: relative;
    width:100%;
    float:none;
    margin:0%;
    padding:0%;
    left: -5%;
  }
  .middle-col{
    float:none;
    display:block;
    width:100%;
    margin:0;
    padding:0;
  }
  .right-col{
    float:none;
    display:block;
    width:100%;
    margin:0;
    padding:0;
  }
  .mobile-select{
    display:block;
    width:100%;
  }
  .tile{
    flex: 0 1 100%;
    margin: auto;
    padding:2%;
  }

}