<ul>
    {{#each model as |quote| }}
    <li>{{quote.description}} - <strong>{{link-to quote.character.name "characters.character" quote.character}}</strong>, Episode: {{quote.episode.name}}</li>
    {{/each}}
  </ul>