<ul>
    {{#each model as |quote| }}
    <li>"{{quote.description}}" - <strong>{{link-to quote.character.name "characters.character" quote.character}}</strong>, {{link-to quote.episode.name "seasons.season.episode" quote.episode.season quote.episode}}</li>
    {{/each}}
  </ul>