
<div class="row">
  <div class="col-md-6"> 
    {{show-season update=(action "update") name=model.name summary=model.summary timePeriod=model.timePeriod imageURL=model.imageURL episodes=model.episodes}}
  </div>
  <div class="col-md-6">
    {{outlet}}
  </div>
</div>