
  <div class="middle-col">
    {{show-season update=(action "update") name=model.name summary=model.summary timePeriod=model.timePeriod imageURL=model.imageURL episodes=model.episodes}}
  </div>

  <div class="right-col">
    {{outlet}}
  </div>
