{{show-character update=(action "update") name=model.name title=model.title socialClass=model.socialClass actorName=model.actor.name quotes=model.quotes}}

<p><button id="delete" {{action "delete" model}}>Delete</button></p>
