{{show-character update=(action "update") name=model.name title=model.title socialClass=model.socialClass imageURL=model.imageURL bio=model.bio actor=model.actor quotes=model.quotes}}

<p><button id="delete" {{action "delete" model}}>Delete</button></p>
