<h2>New Character</h2>
<form {{action 'save' model on="submit"}}>
  <p>
    <label>Name</label>
    {{input value=model.name}}
  </p>
  <p>
    <label>Title</label>
    {{input value=model.title}}
  </p>
  <input type="submit" value="Add New Character">
</form>
{{outlet}}
