<h2>Characters</h2>

<aside class="left-menu">

 {{#link-to "characters.new" class="button"}}Add New Character{{/link-to}}
 <br>
  
  <label for="search">Search</label>
  {{input value=q id="search"}}
  
  <ul class="left-list-items">  
    {{#each filteredResults as |character| }}
    <li class="left-menu-item">{{link-to character.name "characters.character" character}}</li>
    {{/each}}
  </ul>
</aside>
<section class="main-container">
  <div class="main-col">
  {{outlet}}
  </div>
</section>
