<h2>Characters</h2>

<div class="row">
  <div class="col-md-3">
  <p>{{link-to "Add New Character" "characters.new"}}</p>
  <label for="search">Search</label>
    {{input value=q id="search"}}
  <ul>  
    {{#each filteredResults as |character| }}
    <li>{{link-to character.name "characters.character" character}}</li>
    {{/each}}
  </ul>
  </div>
  <div class="col-md-9">
    {{outlet}}
  </div>
</div>