<h2>Quotes</h2>

<aside class="left-menu">
  {{#link-to "quotes.new" class="button"}}Add New Quote{{/link-to}}
</aside>

<section class="main-container">
  <div class="main-col">
    {{outlet}}
  </div>
</section>
