<h2>Seasons</h2> 

<aside class="left-menu">
  <ul class="left-list-items">
    {{#each sortedModel as |season|}}
      <li class="left-menu-item">{{link-to season.name "seasons.season" season}}</li>
    {{/each}}
  </ul>
</aside>
<section class="main-container">
  <div class="main-col">
    {{outlet}}
  </div>
</section>

