<div class="col-md-3"> 
  <h2>Seasons</h2> 
  <ul>
    {{#each model as |season|}}
      <li>{{link-to season.name "seasons.season" season}}</li>
    {{/each}}
  </ul>
</div>
<div class="col-md-9">
  {{outlet}}
</div>
